# Set the Default npm Registry:
registry=https://registry.npmjs.org/

# GitHub Packages Registry Lines
# @abdurcodes:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}