a {
    text-decoration: none;
}

nav {
    border: 1px solid red;
    background-color: aquamarine;
}

li {
    list-style: none;
    background-color: rgb(120, 120, 221);
    padding: 12px;
    color: aliceblue;

}

.mainMenu {
    display: flex;
    gap: 12px;
    justify-content: space-around;
}

.dropdownMenu {
    display: none;
}

.dropdownMenu.visible {
    display: block;
    position: absolute;

    & li {
        width: 100%;
        border: 1px solid black;
        align-items: center;
    }
}